.media-play-button {
  outline: none;
  border: none;
  width: 24px;
  height: 48px;
  background: url('../../images/play-button.svg') no-repeat;
  background-position: center;
  padding: 5px;
  margin: 0px 20px;
}

.media-pause-button {
  outline: none;
  border: none;
  width: 24px;
  height: 48px;
  background: url('../../images//pause-button.svg') no-repeat;
  background-position: center;
  padding: 5px;
  margin: 0px 20px;
}