@font-face {
	font-family: maple;
	src: url('../../font/light.woff') format("woff"),
	url('../../font/light.ttf') format("truetype");
}

html {
	height: 100vh;
	background-image: url("https://res.cloudinary.com/emanon/image/upload/v1539715901/5WYPJby.png");
	background-size: cover;
}

html, body, header, nav, h1, a, ul, li, strong, main, button, i, section, 
img, div, h2, p, form, fieldset, label, input, textarea, span, article, 
footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  font-family: maple;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

button,
input[type="submit"] {
  cursor: pointer;
}